@model MvcApplication1.Models.EmergencyTeamDeparture

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>EmergencyTeamDeparture</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Request.DeclarantName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Request.DeclarantName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EmergencyTeam.EmergencyTeamName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EmergencyTeam.EmergencyTeamName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Car.CarNumber)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Car.CarNumber)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DepartureDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DepartureDate)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
