@model MvcApplication1.Models.EmergencyTeamDeparture

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>EmergencyTeamDeparture</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Request.DeclarantName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Request.DeclarantName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EmergencyTeam.EmergencyTeamName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EmergencyTeam.EmergencyTeamName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Car.CarNumber)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Car.CarNumber)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DepartureDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DepartureDate)
    </div>
</fieldset>
<div>
    <a href="javascript:history.back(1)">назад</a>
</div>
