@model MvcApplication1.Models.Employee

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Employee</legend>

        <div class="editor-label">
            @Html.HiddenFor(model => model.UserId)
        </div>
        <div class="editor-field">
            @Html.HiddenFor(model => model.UserId)
            @Html.ValidationMessageFor(model => model.UserId)
        </div>

        <div class="editor-label">
            @Html.HiddenFor(model => model.JobTitleId)
        </div>
        <div class="editor-field">
            @Html.Hidden("JobTitleId")
            @Html.DisplayFor(model => model.JobTitle.JobTitleName)
            @Html.ValidationMessageFor(model => model.UserId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PersonalNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PersonalNumber)
            @Html.ValidationMessageFor(model => model.PersonalNumber)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.WorkPhone)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.WorkPhone)
            @Html.ValidationMessageFor(model => model.WorkPhone)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
