@model MvcApplication1.Models.LocalPasswordModel
@{
    ViewBag.Title = "Manage Account";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<p class="message-success">@ViewBag.StatusMessage</p>

<p>You're logged in as <strong>@User.Identity.Name</strong>.</p>
<p></p>
@if (ViewBag.HasLocalPassword)
{
    @Html.Partial("_ChangePasswordPartial")
}
else
{ 
    @Html.Partial("_SetPasswordPartial")
}

<section id="externalLogins">


    <h3>Изменить информацию о себе</h3>
    
    @Html.ActionLink("Информация", "Edit", "UserInformation", new { id = WebSecurity.CurrentUserId}, null)
    @if (User.IsInRole("Administrator")) { 
        @Html.ActionLink("Информация администратора", "Edit", "Admin", new { id = WebSecurity.CurrentUserId }, null); 
    }
    @if (User.IsInRole("Employee"))
    {
        @Html.ActionLink("Информация работника", "Edit", "Employee", new { id = WebSecurity.CurrentUserId }, null);
    }

    
       
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
