@model MvcApplication1.Models.UserInformation

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>UserInformation</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LastName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MiddleName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MiddleName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PersonalPhone)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PersonalPhone)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BirthDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BirthDate)
    </div>
</fieldset>
<div>
    <a href="javascript:history.back(1)">назад</a>
</div>
