@model MvcApplication1.Models.UserInformation

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>UserInformation</legend>

        <div class="editor-label">
            @Html.HiddenFor(model => model.UserId)
        </div>
        <div class="editor-field">
            @Html.HiddenFor(model => model.UserId)
            @Html.ValidationMessageFor(model => model.UserId)
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LastName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LastName)
            @Html.ValidationMessageFor(model => model.LastName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MiddleName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MiddleName)
            @Html.ValidationMessageFor(model => model.MiddleName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PersonalPhone)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PersonalPhone)
            @Html.ValidationMessageFor(model => model.PersonalPhone)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BirthDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BirthDate)
            @Html.ValidationMessageFor(model => model.BirthDate)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    <a href="javascript:history.back(1)">назад</a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
