@model IEnumerable<MvcApplication1.Models.Car>

@{
    ViewBag.Title = "Index";
    string NamePart = null;
}

<h2>Index</h2>
@using (Html.BeginForm())
{
    <div>
        @Html.TextBoxFor(m => NamePart)
        <input type="submit" value="Найти" />
    </div>
}
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CarNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CarBrand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CarModel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CarCondition)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CarNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CarBrand)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CarModel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CarCondition)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CarId }) |
            @Html.ActionLink("Details", "Details", new { id=item.CarId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CarId })
        </td>
    </tr>
}

</table>
