@model MvcApplication1.Models.EmergencyTeam

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>EmergencyTeam</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CreateDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreateDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EmergencyTeamName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EmergencyTeamName)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.EmergencyTeamId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
